// Required
@import "../../../../node_modules/bootstrap/scss/functions";

// https://getbootstrap.com/docs/5.3/customize/color/
// Default variable overrides
// $body-bg: #000;
// $body-color: #111;
$body: #393b38;
$emphasis: #ed6232;
$primary: #ed6232;
$secondary: #785c3a;
$tertiary: #cfbcbd;

// Required
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../../node_modules/bootstrap/scss/maps";
@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/root";

// This doesn't work
$nav-link-active-color: #ed6232;
