// Required

// https://getbootstrap.com/docs/5.3/customize/color/
$body-color: #393b38;
// $emphasis-color: #ed6232;
// $primary-color: #ed6232;
// $secondary-color: #785c3a;
// $tertiary-color: #cfbcbd;
$primary: #ed6232;
$secondary: #785c3a;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
// $danger: $red !default;
$light: #CFBCBD;
$dark: #393b38;

@import "bootstrap/bootstrap";
