<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.gtmId }}"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->

<header
  class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
>
  <a
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    href="#"
  >
    <img alt="Brand" height="50" src="/images/vollgas_logo.png" />
    <span class="fs-4">{{ .Site.Title }}</span>
  </a>
  <ul class="nav nav-pills">
    {{- $currentPage := . }} {{- range site.Menus.main }}
    <li class="nav-item">
      <a
        href="{{ .URL }}"
        class="nav-link{{- if $currentPage.IsMenuCurrent .Menu . }} active{{- end }}"
        >{{ .Name }}</a
      >
    </li>
    {{- end }}
  </ul>
</header>
