<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.gtmId }}"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="container py-3 mb-4 border-bottom">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img alt="Brand" height="50" src="/images/vollgas_logo_50.jpg" />
        <span class="fs-4">{{ .Site.Title }}</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapseMain"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapseMain">
        <ul class="navbar-nav ms-auto">
          {{- $currentPage := . }} {{- $currentSection := .Site.GetPage
          $currentPage.Section }} {{- range site.Menus.main }}
          <li class="nav-item">
            <a
              href="{{ .URL }}"
              class='{{- if $currentSection.IsMenuCurrent "main" . }}nav-link active{{- else }}nav-link{{- end }}'
              >{{ .Name }}</a
            >
          </li>
          {{- end }}
        </ul>
      </div>
    </div>
  </nav>
  {{- partial "headerCustom.html" -}}
</header>
